@mixin full-width-box($height, $width: 100vw, $color: none) {
  position: relative;
  left: 0;
  width: $width;
  height: $height;
  background-color: $color;
  overflow: hidden;
}

@mixin media($size, $orientation: '') {
  @if $orientation != '' {
    @media screen and (max-width: $size) and (orientation: $orientation) {
      @content;
    }
  } @else {
    @media screen and (max-width: $size) {
      @content;
    }
  }
}

@mixin flex-center($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin scrollbar() {
  &::-webkit-scrollbar {
    width: 1px;
    height: 18px;
    background-color: #666;
  }
  &::-webkit-scrollbar-thumb {
    background: #888;
    width: 10px;
  }
  &::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}
